@model VOAprototype.Models.PurchaseOrder

@{
    ViewData["Title"] = "Approve";
}

<h1>Approve</h1>

<h4>PurchaseOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Approve">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Application" class="control-label"></label>
                <input asp-for="Application" class="form-control" />
                <span asp-validation-for="Application" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity" class="control-label"></label>
                <div class="col-md-10">
                    <select asp-for="Entity" asp-items="@(Html.GetEnumSelectList<Entities>())">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Entity" class="text-danger" />
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ITFunction" class="control-label"></label>
                <input asp-for="ITFunction" class="form-control" />
                <span asp-validation-for="ITFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ITTower" class="control-label"></label>
                <input asp-for="ITTower" class="form-control" />
                <span asp-validation-for="ITTower" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Units" class="control-label"></label>
                <input id="units" asp-for="Units" type="number" class="form-control" />
                <span asp-validation-for="Units" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <input id="unitprice" asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <div id="totalcost"></div>
            </div>
            <div class="form-group">
                <label asp-for="SeatsPerLicense" class="control-label"></label>
                <input asp-for="SeatsPerLicense" class="form-control" />
                <span asp-validation-for="SeatsPerLicense" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SeatsUsed" class="control-label"></label>
                <input asp-for="SeatsUsed" class="form-control" />
                <span asp-validation-for="SeatsUsed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseDate" class="control-label"></label>
                <input asp-for="PurchaseDate" type="date" class="form-control" />
                <span asp-validation-for="PurchaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpirationDate" class="control-label"></label>
                <input asp-for="ExpirationDate" type="date" class="form-control" />
                <span asp-validation-for="ExpirationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TBMITService" class="control-label"></label>
                <input asp-for="TBMITService" class="form-control" />
                <span asp-validation-for="TBMITService" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TBMCategory" class="control-label"></label>
                <input asp-for="TBMCategory" class="form-control" />
                <span asp-validation-for="TBMCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TBMName" class="control-label"></label>
                <input asp-for="TBMName" class="form-control" />
                <span asp-validation-for="TBMName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EgovBRM" class="control-label"></label>
                <input asp-for="EgovBRM" class="form-control" />
                <span asp-validation-for="EgovBRM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BusinessFunction" class="control-label"></label>
                <input asp-for="BusinessFunction" class="form-control" />
                <span asp-validation-for="BusinessFunction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Finance" class="control-label"></label>
                <input asp-for="Finance" class="form-control" />
                <span asp-validation-for="Finance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Approve" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>
    var units = $('#units');
    var unitprice = $('#unitprice');
    var txtResult = $('#totalcost');

    function updateProduct() {
        txtResult.html(parseInt(units.val()) * parseInt(unitprice.val()));
    }

    $(function() {
        updateProduct();
        units.change('change', updateProduct);
        unitprice.change('change', updateProduct);
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
