
@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>
<iframe width="1600" height="1200" src="https://app.powerbi.com/view?r=eyJrIjoiNDliNDI2MGMtMzRiOS00MDkwLTlmYzktZGQ3YTQyY2Y5ZTc5IiwidCI6IjEyNTEzOWFkLTdlNjctNDg2NS1hM2JkLThjODljY2UyY2Y0OCIsImMiOjF9" frameborder="0" allowFullScreen="true"></iframe>